.section-payment {
  .row {
    display: flex;
  }
  .title-info-payment {
    margin: 30px auto;
    font-size: 20px;
    font-weight: bold;
  }
  .form-row {
    .form-group {
      margin-bottom: 20px;
      label {
        display: block;
        font-size: 14px;
        margin-bottom: 10px;
        &::after {
          content: " *";
          color: red;
          font-size: 16px;
        }
      }
      input {
        font-size: 18px;
      }
    }
  }
  .additional-field {
    .note {
      padding-bottom: 10px;
      font-size: 16px;
      font-weight: bold;
    }
    .text-additional {
      width: 100%;
      padding: 10px;
      border-color: rgba(0, 0, 0, 0.1);
    }
  }
  .payment-method {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    .payment-option {
      width: 45%;
      padding: 40px 0;
      text-align: center;
      border: 1px solid rgba(0, 0, 0, 0.1);
      i {
        padding-bottom: 10px;
        font-size: 30px;
      }
      &.check {
        border-color: black;
      }
    }
  }
  .bank-number {
    .info-bank {
      padding-bottom: 16px;
      font-size: 16px;
    }
  }
  .summary-order {
    margin: auto 10px;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    .title {
      font-size: 26px;
    }
    .products {
      .title {
        padding-bottom: 20px;
        font-size: 18px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
      .list-cart {
        .item-cart {
          padding: 10px 0;
          display: flex;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          .img-product-cart {
            width: 30%;
          }
          .info-product-cart {
            width: 70%;
            padding-left: 20px;
            .name-product {
              padding-bottom: 10px;
            }
            .price {
              float: right;
            }
          }
        }
      }
      .btn-primary {
        margin-top: 20px;
        width: 100%;
        font-size: 18px;
      }
    }
  }
}
