.section-product-list {
  .form-product-list {
    padding-top: 40px;
    .search-field {
      @extend %flex-between;
      margin-bottom: 80px;
      .sort {
        p {
          padding-bottom: 8px;
          font-size: 14px;
          color: #434343;
        }
        .sort-list {
          padding-right: 10px;
          height: 30px;
          font-weight: 500;
          font-size: 15px;
          color: #303036;
          border: none;
          outline: none;
          border-bottom: 1px solid black;
        }
      }
    }
    .list-product {
      .product-group {
        .product-item {
          position: relative;
          margin-bottom: 40px;
          .btn-add-cart {
            display: none;
            position: absolute;
            bottom: 5%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 10;
          }
          &:hover {
            .btn-add-cart {
              display: block;
              transition: 0.3s;
            }
          }
        }
      }
    }
  }
}
